@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

.rakkas-regular {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@media (max-width: 1200px){
  .texto {
    display: none;
  }
  .quienes {
    display: none;
  }
}


@media (min-width: 1200px){
  .texto {
    column-count: 3;
    column-width: 200px;
    column-gap: 20px;
  }
  
  .rectangulo {
    width: 400px;
    height: 25px;
    border: 1px solid black;
    
  }

}