* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@media (max-width: 576px){
  .rectangulo {
    width: 140px;
    height: 25px;
    border: 1px solid black;
    
  }
  .texto {
    column-count: 2;
    column-width: 2px;
    column-gap: 2px;
  }
  
}

@media (max-width: 768px){
  .rectangulo {
    width: 10x;
    height: 25px;
    border: 1px solid black;
    
}
.texto {
  column-count: 2;
  column-width: 2px;
  column-gap: 2px;
}

}

@media (min-width: 1200px){
  .texto {
    column-count: 3;
    column-width: 200px;
    column-gap: 20px;
  }
  
  .rectangulo {
    width: 400px;
    height: 25px;
    border: 1px solid black;
    
  }

}